*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.mid{
    text-align: center;
    color: rgb(241, 142, 142);
    margin-bottom: 10px;
}

.btns{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
button{
    width: 7rem;
    height: 3vh;
    border-radius: 5px 2px;
    border: 2px solid black;
    color: black;
    background-color: antiquewhite;
}

.menu-item{
    border: 2px solid black;
}